/* Image Upload Content */
.portal-thumbnail .file-custom::after {
	content: "Choose a thumbnail image..." !important;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	color: #555c6e;
	font-weight: normal;
}

.portal-cover .file-custom::after {
	content: "Choose a cover image..." !important;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	color: #555c6e;
	font-weight: normal;
}
