/* Main */
.portal {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgb(29, 32, 40);
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Links Container */
.links-container {
	display: flex;
	flex-direction: column;
}

/* Links */
.links-container a {
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	text-align: center;
	margin: 30px 0;
	color: white;
	text-decoration: none;
	transition: all 0.3s linear;
}

/* Hover Effect */
.links-container a:hover,
a.active_class {
	color: #fa2158;
}
